html, body {
	margin:0;
	height:100%;
	background-image:url('../images/bluebg.jpg');
	background-attachment:fixed;
}
header {
	height:60px;
	border-bottom:2px outset #17B;
	background-color:#A7AFFD;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
}
#lefty {
	height:60px;
	width:200px;
	float:left;
	background-color:green;
	margin-left:24%;
	text-align:center;
	color:white;
}
#righty {
	height:20px;
	width:260px;
	float:right;
	padding:20px 0px;
	margin-right:24%;
}
#wrapper {
    margin-bottom:-65px;
	min-height:calc(100% - 62px);
	text-align:center;
	left:0;
	right:0;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
.content1 {
	background-color:white;
	min-height:545px;
	width:640px;
	border:1px solid gray;
	margin:20px;
	display:inline-block;
	text-align:left;
	padding:10px 30px;
}
.content2 {
	background-color:white;
	height:180px;
	width:250px;
	border:1px solid gray;
	margin:20px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	padding:10px 30px;	
}
#wrapper:after {
    content:'';
    display:block;
    height:65px;
}
footer {
	height:20px;
	border-top:5px outset #17B;
	padding:20px 0px;
	background-color:#A7AFFD;
	color:white;
	text-align:center;
}
#cats {
	width:270px;
	float:left;
	margin-right:10px;
}
p {
	text-indent:40px;
}
a:visited, a:link, a:hover, a:active {
	text-decoration:none;
	color:black;
}
form {
	height:50%;
}
label {
	display:block;
}
input, textarea {
	width:100%;
	margin:8px 0px;
}
button {
	background-color:green;
	color:white;
	font-size:20px;
	text-align:center;
	height:50px;
	width:150px;
}
#image1, #image2, #image3, #image4, #image5, #image6 { 
	height:200px;
	width:250px;
	display:inline-block;
	margin:8px 32px;
	float:initial;
	overflow:auto;
	position:relative;
}
#image1 {
	background-image:url('../images/enemies.jpg')
}
#image2 {
	background-image:url('../images/cats.jpg')
}
#image3 {
	background-image:url('../images/color.jpg')
}
#image4 {
	background-image:url('../images/sidewalk.jpg')
}
#image5 {
	background-image:url('../images/carne.jpg')
}
#image6 {
	background-image:url('../images/city.jpg')
}
.specfont {
	color:white;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background: rgba(167, 175, 253, 0.8);
	padding:10px 0px;
}
@media screen and (max-width:980px) {
    #lefty, #righty {
        margin:0px 50px;    
    }
    #wrapper {
        width:100%;
        margin:0;
    }
    #portfolio {
        padding:0px 20px;
        width:auto;
    }
    #image1, #image2, #image3, #image4, #image5, #image6 {
        margin:20px 0;
        display:block;
        clear:both;
        width:350px;
        height:280px;
        background-size:cover;
    }
}
@media screen and (max-width:768px) {
    html, body, header, footer {
        width:100%;
        margin:0;
    }
    .content2 {
        margin:20px 0px;
        width:calc(100% - 102px);
    }
    #portfolio {
        width:calc(100% - 82px);
    }
    #image1, #image2, #image3, #image4, #image5, #image6 {
        display:inline-block;
        margin:20px;
        width:250px;
        height:200px;
}
@media screen and (max-width:640px) {
    html, body, header, footer {
        width:640px;
        margin:0;
    }
    header {
        height:120px;
    }
    #lefty {
        margin:0;
        width:100%;
    }
    #righty {
        margin:0px;
        width:100%;
        
    }
    .content1, .content2 {
        margin:20px 0px;
    }
    #image1, #image2, #image3, #image4, #image5, #image6 {
        margin:20px 0;
        padding:10px 0;
        display:block;
        clear:both;
        width:400px;
        height:320px;
        background-size:cover;
    }
    #cats {
        width:auto;
        height:auto;
        clear:both;
        float:none;
        display:block;
        margin:auto;
    }
}@media screen and (max-width:450px) {
    html, body, header, footer {
        width:450px;
        margin:0;
    }
    #lefty {
        margin:0;
        width:100%;
    }
    #righty {
        margin:0px;
        font-size:100%;   
    }
    #image1, #image2, #image3, #image4, #image5, #image6 {
        margin:20px 0;
        padding:10px 0;
        display:block;
        clear:both;
        width:330px;
        height:264px;
        background-size:cover;
    }
}